In [3]:
from pyspark.sql import SparkSession
import pandas as pd
pd.set_option('display.max_rows', None)

In [4]:
spark = SparkSession.builder.appName('Practice').enableHiveSupport().getOrCreate()

Using Spark's default log4j profile: org/apache/spark/log4j-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
22/07/09 17:32:17 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [5]:
spark.sql("describe database soundcloud")

22/07/09 17:32:46 WARN HiveConf: HiveConf of name hive.stats.jdbc.timeout does not exist
22/07/09 17:32:46 WARN HiveConf: HiveConf of name hive.stats.retries.wait does not exist
22/07/09 17:32:49 WARN ObjectStore: Version information not found in metastore. hive.metastore.schema.verification is not enabled so recording the schema version 2.3.0
22/07/09 17:32:49 WARN ObjectStore: setMetaStoreSchemaVersion called but recording version is disabled: version = 2.3.0, comment = Set by MetaStore eli@192.168.1.8

DataFrame[info_name: string, info_value: string]

In [15]:
db_name = "soundcloud"
spark.sql(f"CREATE DATABASE IF NOT EXISTS {db_name}")

DataFrame[]

In [16]:
spark.sql("drop table soundcloud.my_likes")

DataFrame[]

In [17]:
my_likes=spark.read.option("multiline","true").json("liked_songs7_05_22.json")
my_likes.write.saveAsTable(f"{db_name}.my_likes")

In [23]:
spark.sql("select * from soundcloud.my_likes where title like '%Roses%'").toPandas()

,artist,artist_followers,city,comment_count,country_code,date_created,date_liked,download_count,genre,id,...,label_name,last_modified,likes_count,playback_count,raw_duration,raw_full_duration,release_date,reposts_count,station_permalink,title
0,SAINt JHN,118486,Brooklyn,771,None,2020-05-27 12:53:08+00:00,2020-09-11 12:21:12+00:00,0,Rap/Hip Hop,829052650,...,HITCO,2022-05-14 21:40:57+00:00,53784,3688228,187919,187925,2020-05-29T00:00:00Z,1711,track-stations:829052650,SAINt JHN - Roses Remix (feat. Future)
1,Univrs Records,79,None,54,None,2020-06-03 17:19:38+00:00,2020-07-28 02:27:00+00:00,0,Ambient,833457607,...,None,2022-05-14 07:18:34+00:00,6951,464474,141714,141714,None,238,track-stations:833457607,SAINt JHN - Roses (Said The Sky Remix)
2,SAINt JHN,118486,Brooklyn,15077,None,2019-09-11 14:58:46+00:00,2019-11-15 13:46:27+00:00,0,,679587188,...,None,2022-07-05 14:10:04+00:00,684656,45488237,176240,176290,None,16780,track-stations:679587188,SAINt JHN - Roses (Imanbek Remix)
3,rickyrozaymmg,176834,Miami,483,US,2019-07-19 00:55:55+00:00,2019-07-26 15:06:56+00:00,0,Rap,653238113,...,Epic,2022-06-25 14:49:10+00:00,42442,2469155,345181,345266,2019-07-26T00:00:00Z,1230,track-stations:653238113,Gold Roses (feat. Drake)
4,benny blanco,54909,None,27236,None,2018-12-04 18:41:06+00:00,2018-12-07 05:37:20+00:00,0,Pop,539771355,...,Friends Keep Secrets/Interscope Records,2022-07-05 02:41:42+00:00,699683,62336931,223564,223582,2018-12-05T00:00:00Z,16784,track-stations:539771355,Roses (with Juice WRLD feat. Brendon Urie)
5,The Chainsmokers,1135883,New York,2145,US,2015-06-15 15:16:35+00:00,2015-06-27 02:26:02+00:00,0,Dance,210433784,...,Disruptor Records/Columbia,2022-06-28 20:57:17+00:00,419027,26261942,226395,226403,2015-06-16T00:00:00Z,65006,track-stations:210433784,The Chainsmokers feat. ROZES - Roses

In [56]:
#Most Played Songs
spark.sql("""select 
title, 
artist, 
playback_count  
from soundcloud.my_likes 
where playback_count is not null
order by playback_count desc
limit 10""").toPandas()

,title,artist,playback_count
0,XXXTENTACION - Fuck Love (feat. Trippie Redd),XXXTENTACION,292113735
1,1.5- XO TOUR Llif3 (Produced By TM88),Lil Uzi Vert,248480234
2,Lucid Dreams,Juice WRLD,237681660
3,Major Lazer & DJ Snake - Lean On (feat. MØ),Major Lazer,223395904
4,Post Malone - rockstar (feat. 21 Savage),Post Malone,199030275
5,"Lil Baby, Gunna - Drip Too Hard",Lil Baby,198775513
6,Drowning (feat. Kodak Black),A BOOGIE WIT DA HOODIE,183436930
7,I don't wanna do this anymore,XXXTENTACION,180609678
8,YNW MELLY - MURDER ON MY MIND Prod By; SMKEXCLSV,YNW Melly,178456108
9,Lil Uzi Vert - Money Longer,Lil Uzi Vert,174502262

In [44]:
#Most Liked Songs
spark.sql("""select
title,
artist,
likes_count 
from soundcloud.my_likes 
order by 3 desc
limit 10""").toPandas()

,title,artist,likes_count
0,Major Lazer & DJ Snake - Lean On (feat. MØ),Major Lazer,3079641
1,XXXTENTACION - Fuck Love (feat. Trippie Redd),XXXTENTACION,3063357
2,Lucid Dreams,Juice WRLD,2673396
3,1.5- XO TOUR Llif3 (Produced By TM88),Lil Uzi Vert,2550500
4,Post Malone - rockstar (feat. 21 Savage),Post Malone,2213615
5,Lil Peep & XXXTENTACION - Falling Down,☆LiL PEEP☆,2095097
6,The Chainsmokers - Don't Let Me Down (Illenium...,ILLENIUM,2082635
7,Drowning (feat. Kodak Black),A BOOGIE WIT DA HOODIE,2051859
8,"Lil Baby, Gunna - Drip Too Hard",Lil Baby,2039060
9,Lil Uzi Vert - Money Longer,Lil Uzi Vert,1973422
10,HOPE,XXXTENTACION,1968780
11,I don't wanna do this anymore,XXXTENTACION,1957986
12,YNW MELLY - MURDER ON MY MIND Prod By; SMKEXCLSV,YNW Melly,1890212
13,The Box,Roddy Ricch,1784696
14,Robbery,Juice WRLD,1716437
15,Bandit ft. NBA Youngboy,Juice WRLD,1636397
16,Post Malone - Congratulations (feat. Quavo),Post Malone,1615543
17,Ransom,Lil Tecca ✰,1554690
18,ILOVEMAKONNEN ~ Tuesday Feat. Drake,octobersveryown,1542407
19,juice wrld - legends :(,Juice WRLD,1491483

In [45]:
#Most Reposted Songs
spark.sql("""select
title,
artist,
reposts_count 
from soundcloud.my_likes 
order by 3 desc
limit 10""").toPandas()

,title,artist,reposts_count
0,Major Lazer & DJ Snake - Lean On (feat. MØ),Major Lazer,296082
1,Latch (feat. Sam Smith),Disclosure,192049
2,Disclosure - You & Me (Flume Remix),Flume,186570
3,Rather Be Feat. Jess Glynne,Clean Bandit,179264
4,ILOVEMAKONNEN ~ Tuesday Feat. Drake,octobersveryown,177340
5,Calvin Harris - Summer (Extended),Calvin Harris,174229
6,Lorde - Tennis Court (Flume Remix),Flume,169002
7,The Chainsmokers - Don't Let Me Down (Illenium...,ILLENIUM,161742
8,1.5- XO TOUR Llif3 (Produced By TM88),Lil Uzi Vert,157045
9,Big Sean - Beware (feat. Lil Wayne & Jhené Aiko),Big Sean,123386

In [52]:
#Most Commented Songs
spark.sql("""select
title,
artist,
comment_count 
from soundcloud.my_likes 
order by 3 desc
limit 10""").toPandas()

                                            title        artist  comment_count
0          Lil Peep & XXXTENTACION - Falling Down    ☆LiL PEEP☆         185703
1                                         The Box   Roddy Ricch         134656
2  XXXTENTACION - Fuck Love  (feat. Trippie Redd)  XXXTENTACION         118590
3                   WAP feat. Megan Thee Stallion       Cardi B         112475
4                                         Robbery    Juice WRLD         112059
5                         Bandit ft. NBA Youngboy    Juice WRLD         109557
6                                    Lucid Dreams    Juice WRLD         106653
7                                          Ransom   Lil Tecca ✰          94524
8                                            HOPE  XXXTENTACION          79342
9                         juice wrld - legends :(    Juice WRLD          78144

In [46]:
#Least Played Songs
spark.sql("""select 
title, 
artist, 
playback_count  
from soundcloud.my_likes 
where playback_count is not null
order by playback_count asc
limit 10""").toPandas()

,title,artist,playback_count
0,Hannah Montana VIP,Calin,123
1,Bounce (DJ Manian Radio Edit),DJ Manian,172
2,2015 Year End Mash Up,Kai Mark,232
3,Ill Mix,yeahyeah33,305
4,Revive (Originally Performed by Luvbug),Studio One Project,493
5,The Stockholm Syndrome (CLMD Radio Edit) [feat...,CLMD,837
6,TRS Summer Rage Mix,mcglock,1001
7,Rather Be,Malte Ebert,1172
8,DonaldTrumpMakesMeWannaSmokeCrack (Petals Remix),LEDINSKY,1431
9,Lie to Me (with Myon & Shane 54) [feat. Koko L...,COLE PLANTE,2521

In [47]:
#Likes by Genre
spark.sql("""select 
count(genre) as genre_count, 
genre  
from soundcloud.my_likes 
group by 2 
order by 1 
desc limit 10""").toPandas()

   genre_count          genre
0          360          Dance
1          297        Hip Hop
2          255    Dance & EDM
3          244  Hip-hop & Rap
4          243            Pop
5          202     Electronic
6          167
7           88            Rap
8           83          House
9           70        Dubstep

In [54]:
#Songs from 2012
spark.sql("""select 
title, 
artist
from soundcloud.my_likes 
where date_created > "2012-01-01 00:00:00+00:00"
and date_created < "2013-01-01 00:00:00+00:00"
limit 10
""").toPandas()

                                               title         artist
0           Little Kandi Raver 2012 - S3RL feat Sara           S3RL
1                   Feel The Melody - S3RL feat Sara           S3RL
2      Keane - Sovereign Light Cafe (Afrojack Remix)       Afrojack
3                                         MTC - S3RL           S3RL
4                       Dillon Francis - IDGAFOS 2.0  DILLONFRANCIS
5  Skrillex & Damian 'Jr Gong' Marley - Make It B...       Skrillex
6              Earthquakey People (Alvin Risk Remix)     Steve Aoki
7                                         Killin' It       Krewella
8                                       I Can't Stop  Flux Pavilion
9                 Rapture - Nadia Ali (Avicii Remix)     GuelphSpot

In [49]:
#Songs by Year Created
spark.sql("""select 
count(*),
year(date_created) as year
from soundcloud.my_likes 
group by 2
order by 2 desc
limit 10
""").toPandas()

   count(1)  year
0        51  2022
1       209  2021
2       302  2020
3       300  2019
4       473  2018
5       412  2017
6       479  2016
7       307  2015
8       268  2014
9       129  2013

In [50]:
#Songs by Year Liked
spark.sql("""select 
count(*),
year(date_liked) as year
from soundcloud.my_likes 
group by 2
order by 2 desc
limit 10
""").toPandas()

   count(1)  year
0       112  2022
1       388  2021
2       432  2020
3       325  2019
4       476  2018
5       407  2017
6       387  2016
7       233  2015
8       243  2014
9        23  2013

In [51]:
#Songs by Label
spark.sql("""select 
count(*),
label_name
from soundcloud.my_likes 
group by 2
order by 1 desc
limit 10
""").toPandas()

   count(1)                  label_name
0      1289                        None
1       281
2        52                    Columbia
3        31            Republic Records
4        29            Atlantic Records
5        22  Quality Control Music, LLC
6        20          Cyclops Recordings
7        20   TenThousand Projects, LLC
8        19              Future Classic
9        18              Warner Records